<h1>Edit Customer</h1>

<div class="formdiv">
    <div *ngIf="currentCustomer">
            
          <form>
                 <label for="customerid">Customer ID </label><br>
                 <input matInput [(ngModel)]="currentCustomer.customerid" name="customerid" id="customerid" type="text">
                 <br>

                  <label for="firstname"> First Name </label><br>                    
                  <input [(ngModel)]="currentCustomer.firstname" name="firstname" id="firstname" type="text">
                 <br>

                  <label for="lastname"> Last Name</label><br>                     
                  <input [(ngModel)]="currentCustomer.lastname" name="lastname" id="lastname" type="text">
                  <br>

                  <label for="address"> Address</label><br>                     
                  <input [(ngModel)]="currentCustomer.address" name="address" id="address" type="text">
                  <br>

                  <label for="phonenumber"> Phone Number </label><br>                    
                  <input [(ngModel)]="currentCustomer.phonenumber" name="phonenumber" id="phonenumber" type="text">
                  <br>

                  <label for="zip">Zip Code </label><br>                   
                  <input [(ngModel)]="currentCustomer.zip" name="zip" id="zip" type="text">
                  <br>
               
                  <button type="submit" (click)="updateCustomer()" > Update Customer</button>
                  <br><br>
          </form>
  </div>
          
       
</div>