<div>
    <div *ngIf="currentCustomer">
        <br><br>
          <form>
                 <label for="customerid">Customer ID </label> 
                 <input [(ngModel)]="currentCustomer.customerid" name="customerid" id="customerid" type="text">
                <br><br>

                  <label for="firstname"> First Name </label>                       
                  <input [(ngModel)]="currentCustomer.firstname" name="firstname" id="firstname" type="text">
                  <br><br>

                  <label for="lastname"> Last Name</label>                      
                  <input [(ngModel)]="currentCustomer.lastname" name="lastname" id="lastname" type="text">
                  <br><br>

                  <label for="address"> Address</label>                     
                  <input [(ngModel)]="currentCustomer.address" name="address" id="address" type="text">
                  <br><br>

                  <label for="phonenumber"> <td> Phone Number </label>                     
                  <input [(ngModel)]="currentCustomer.phonenumber" name="phonenumber" id="phonenumber" type="text">
                  <br><br>

                  <label for="zip"> <td> Zip Code </label>                     
                  <input [(ngModel)]="currentCustomer.zip" name="zip" id="zip" type="text">
                  <br><br>
               
                  <button type="submit" (click)="updateCustomer()" > Update Customer</button>
             
          </form>
  </div>
          
       
</div>