<div>
    <h1>Add Order</h1>
    <form action="orders" method="POST">
        <input type="text" placeholder="Customer id" [(ngModel)]="orders.customerid" id="customerid" name="customerid">   <br><br>
        <input type="text" placeholder="Employee id" [(ngModel)]="orders.employeeid" id="employeeid" name="employeeid">   <br><br>
        <input type="datetime-local" placeholder="Time" [(ngModel)]="orders.timeordercreated" id="timeordercreated" name="timeordercreated">   <br><br>
        <input type="number" placeholder="Total" [(ngModel)]="orders.total" id="total" name="total">   <br><br>
        <input type="submit" (click)="saveOrder()" value="Add Order">
    </form>
</div>