<div>
      <div *ngIf="currentEmp">
          <br><br>
            <form>
                   <label for="employeeid">Employee ID </label> 
                   <input [(ngModel)]="currentEmp.employeeid" name="employeeid" id="employeeid" type="text">
                    

                     <label for="firstname"> First Name </label>                       
                    <input [(ngModel)]="currentEmp.firstname" name="firstname" id="firstname" type="text">

                    <label for="lastname"> Last Name</label>                      
                    <input [(ngModel)]="currentEmp.lastname" name="lastname" id="lastname" type="text">
                    <label for="address"> Address</label>                     
                    <input [(ngModel)]="currentEmp.address" name="address" id="address" type="text">

                    <label for="tin"> <td> TIN </label>                     
                    <input [(ngModel)]="currentEmp.tin" name="tin" id="tin" type="text">

                    <label for="active"> Active</label>                     
                    <input [(ngModel)]="currentEmp.active" name="active" id="active" type="checkbox">
                    <button type="submit" (click)="updateEmployee()" > Update Employee</button>
               
            </form>
    </div>
            
         
</div>
