<h1>Edit Employee</h1>
<div class="formdiv">
      <div *ngIf="currentEmp">
            <form>
                   <label for="employeeid">Employee ID </label><br>
                   <input [(ngModel)]="currentEmp.employeeid" name="employeeid" id="employeeid" type="text"><br>
                    

                     <label for="firstname"> First Name </label><br>                      
                    <input [(ngModel)]="currentEmp.firstname" name="firstname" id="firstname" type="text"><br>

                    <label for="lastname"> Last Name</label><br>                     
                    <input [(ngModel)]="currentEmp.lastname" name="lastname" id="lastname" type="text"><br>
                    <label for="address"> Address</label><br>                     
                    <input [(ngModel)]="currentEmp.address" name="address" id="address" type="text"><br>

                    <label for="tin"> TIN </label><br>                     
                    <input [(ngModel)]="currentEmp.tin" name="tin" id="tin" type="text"><br>

                    <label for="active"> Active</label> <br>                    
                    <input [(ngModel)]="currentEmp.active" name="active" id="active" type="checkbox"><br>
                    <button type="submit" (click)="updateEmployee()" > Update Employee</button>

                    <br><br>
            </form>
    </div>
            
         
</div>
