
    <h1>Add new employee</h1>
   
    <div class="formdiv">
        <form action="employees" method="POST">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Ex. Samantha" id="firstname" [(ngModel)]="employee.firstname" name="firstname">
            </mat-form-field><br><br>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Lowe" id="lastname" [(ngModel)]="employee.lastname" name="lastname">
            </mat-form-field><br><br>
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Ex. Innnnnn West Philadelphia" id="address" [(ngModel)]="employee.address" name="address">
            </mat-form-field><br><br>
        </form>
        <mat-form-field class="example-full-width">
            <mat-label>Tax Identification Number</mat-label>
            <input matInput placeholder="123-45-6789" id="tin" [(ngModel)]="employee.tin" name="tin">
        </mat-form-field><br><br>
        Active: <input type="checkbox" id="active" [(ngModel)]="employee.active" name="active"><br><br>
        <input type="button" (click)="saveEmployee()" value="Submit">
                        &nbsp;&nbsp;&nbsp;
        <input type="reset" value="Clear">
        <br><br>
    </div>

    <!--  
    <form action="employees" method="POST">
        <table>
                <tr>
                    <td> <input type="text" id="firstname" [(ngModel)]="employee.firstname" name="firstname" placeholder="First Name"> <br></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="lastname" [(ngModel)]="employee.lastname" name="lastname" placeholder="Last Name"> <br> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text"  id="address" [(ngModel)]="employee.address" name="address" placeholder="Address"> <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="tin" [(ngModel)]="employee.tin" name="tin" placeholder="Tax Identification Number"><br>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Active: <input type="checkbox" id="active" [(ngModel)]="employee.active" name="active"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" (click)="saveEmployee()" value="Submit">
                        &nbsp;&nbsp;&nbsp;
                        <input type="reset" value="Clear">
                        </td>
                </tr>
        

            

        </table>

        <br>
    </form>
    -->

