<div class="product-container">
    <div class="row">
        <div class="container">
            <!--Commented out the banner 
                so we wouldn't have the pizza picture
            <div class="banner">
                <h1>Premo's Products List</h1>
            </div>
        -->
            <h3>Product List</h3>
            <table class="table table-bordered">
                <thead style="text-align: center;">
                    <tr>
                        <th>Description</th>
                        <th>Size</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody style="font-size: large;">
                    <tr *ngFor="let product of products">
                        <td>{{product.description}}</td>
                        <td>{{product.size}}</td>
                        <td style="text-align: center;">${{product.price}}</td>
                    </tr>
                </tbody>

            </table>
            
            <button type="button" routerLink="/orders/add" class="button" style="margin: 15px;">New Order?</button>
        </div>
    </div>
</div> 