<div>
  <h1>Hello, Welcome to Premo Pie Shop!</h1>
</div>

  <nav>
    <a routerLink="home" routerLinkActive="active" > Home</a>
    <a routerLink="/customer" routerLinkActive="active" > Customer</a>
    <a routerLink="/customerorder" routerLinkActive="active" > Orders</a>
    <a routerLink="/employee" routerLinkActive="active" > Employee</a>
    <a routerLink="/nav" routerLinkActive="active" > Navigation</a>
    <a routerLink="/product" routerLinkActive="active" > Product </a>
  </nav>


<router-outlet></router-outlet>