<!--
<div>
  <h1>Hello, Welcome to Premo Pie Shop!</h1>
</div>
-->

  <app-nav></app-nav>

  <!--
  <nav>
    <a routerLink="home" routerLinkActive="active" > Home</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a routerLink="/customer" routerLinkActive="active" > Customer</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a routerLink="/orders" routerLinkActive="active" > Orders</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a routerLink="/employee" routerLinkActive="active" > Employee</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a routerLink="/nav" routerLinkActive="active" > Navigation</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a routerLink="/product" routerLinkActive="active" > Product </a> &nbsp; &nbsp; &nbsp; &nbsp;
  </nav>
-->

<router-outlet></router-outlet>