
<mat-toolbar color="warn" >
    <mat-toolbar-row >
      <!--
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      -->
      <h1>Welcome to Premo Pizza!</h1><br>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="''" > Home</a>
        <a mat-button [routerLink]="'/orders'"> Orders</a>
        <a mat-button [routerLink]="'/product'"> Products </a>
        <a mat-button [routerLink]="'/employee'" > Employees </a>
        <a mat-button [routerLink]="'/customer'" > Customers </a>
        <a mat-button [routerLink]="'/chart'" > Chart </a>  
      </div>
      <!--<img src="assets/pinkyandthebrain.jpg" height="85px"/>-->
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 12px;">Pizza. Yum. </span>
    </mat-toolbar-row>
  </mat-toolbar>
