<div>
    <h1>Customer Table</h1>
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Customer Address</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Zip Code</th>
        </tr>
        <!-- <tr *ngFor="let customer of customers">
      
            <td>${customer.customerid}</td>
            <td>${{customer.address}}</td>
            <td>${{customer.name}}</td>
            <td>${{customer.phonenumber}}</td>
            <td>${{customer.zip}}</td>
      
        </tr> -->
        
      </table>
</div>
