<div  >
    <h3>Customers List</h3>
     
        <table>
        <tr>
            <th>Name</th>
            <th>Customer ID</th>
            <th>Address</th> 
            <th>Phone Number</th>
            <th>Zip Code</th>
        </tr>
       
        <tr *ngFor="let customer of customers; let i = index">
          
            <td> <a style="text-decoration: none;" href="/customers/{{ customer.customerid }}">
                {{ customer.firstname }} {{ customer.lastname }} </a>
            </td>
            <td>{{ customer.customerid }}</td> 
            <td>{{ customer.address }}</td>
            <td>{{ customer.phonenumber }}</td>
            <td>{{ customer.zip }}</td>

          
        </tr>

    </table>

   
    <button> <a href="/customers/add"> Add Customer</a> </button>
  </div>